/*-----------------HEADER---------------*/

.searchCart-header{
    display: flex;
    padding-top: 5px;
  }
  
  .logo-header{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 22px;
  }
  
  .img-header{
    width: 10%;
  }
  
  .navbar{
    display: flex;
    justify-content: center;
    list-style: none;
    position: relative;
    bottom: 30px;
  }


  .navbar > li{
    display: inline-block;
  }

  header.main-header li button{
    background-color: #edf2f1;
    box-shadow: none;
  }

  header.main-header li button:hover{
    background-color: #b6d5dd;
  }

  header.main-header li button a{
    color: black;
    font-weight: 700;
    font-size: 17px;
    padding: 0 6px;
    letter-spacing: 1px;
    text-decoration: none;
  }

  header.main-header li button > a:hover{
   color: #edf2f1;
   transition: calc(1.4s);
 }

 .title-header >  h2{
   text-align: center;
   font-weight: 700;
   
 }



 